<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoFileMover.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AutoFileMover.Core.Properties.Settings>
            <setting name="SourcePaths" serializeAs="String">
                <value>D:\Temp\AFMTEST\Input</value>
            </setting>
            <setting name="SourceRegex" serializeAs="String">
                <value>^(\b.*\b(?=[.])).*(?&lt;Season&gt;(?:(?&lt;=s)[1-9][0-9]|(?&lt;=s0)[1-9])).*\.(?:avi|mkv|mp4)$</value>
            </setting>
            <setting name="DestinationPath" serializeAs="String">
                <value>D:\Temp\AFMTEST\Output</value>
            </setting>
            <setting name="IncludeSubdirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileMoveRetries" serializeAs="String">
                <value>3</value>
            </setting>
        </AutoFileMover.Core.Properties.Settings>
    </applicationSettings>
</configuration>